@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
:root {
  --verde-principal: #2E7D32;
  --verde-hover: #4CAF50;
  --fondo-general: #F4F6F3;
  --fondo-tarjeta: #E0E0E0;
  --fondo-input: #FFFFFF;
  --texto-verde: #2E7D32;
  --texto-secundario: #444444;
  --icono-destacado: #A0B29C;
}

body {
     font-family: "Nunito", sans-serif;
     margin: 0;
     background-color: var(--fondo-general);
     user-select: none;
     -webkit-user-select: none; /* para Safari */
     -ms-user-select: none;     /* para IE */
     overflow-x: hidden;
      overflow-y: hidden;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      height: 100%;
      width: 100%;
}

input {
  font-family: "Nunito", sans-serif;
}

 .board {
     display: flex;
     gap: 1rem;
     align-items: flex-start;
     flex-grow: 1;
     width: 100%;
     height: 100%;
     overflow:visible ;
}
 .column {
     background-color: var(--fondo-input);
     border-radius: 10px;
     border: var(--texto-secundario), solid, 2px;
     padding: 1rem;
     width: 200px;
     box-shadow: 0 2px 5px rgba(0,0,0,0.1);
     height: 100%;
     width: 100%;
     max-height: 100%;
     overflow-x: hidden;
     box-shadow: 0px 4px 0px var(--texto-secundario);
    box-sizing: border-box;
}
 .column h2 {
     font-size: 1.2rem;
     margin: 0 0 1rem;
}
 .add-column {
     display: flex;
     align-items: end;
     justify-content: end;
     gap: 2vw;
     margin: 2vh;
     width: 200px;
     border-radius: 8px;
     color: var(--texto-secundario);
     font-weight: bold;
     cursor: pointer;
     width: 100%;
     box-sizing: border-box;
}
 .layout{
     display: flex;
     justify-content: space-around;
     align-items: center;
     flex-wrap: wrap;
     height: 70vh;
     padding: 2rem;
}
 .boton-circular {
     width: 60px;
     height: 60px;
     border-radius: 50%;
      border: var(--texto-secundario) solid 2px;
     background: var(--verde-hover);
     color: var(--fondo-input);
     font-size: 24px;
     cursor: pointer;
     transition: transform 0.2s ease, box-shadow 0.2s ease;
     box-sizing: border-box;
    box-shadow: 0px 4px 0px var(--texto-secundario);
}
 .boton-circular:hover {
     background-color: var(--verde-hover);
     box-shadow: none;
     transform: translateY(2px);
}
 .boton-circular:active {
     transform: translateY(2px);
     box-shadow:  none;
}
 .boton-redondeado {
     padding: 12px 24px;
     border-radius: 10rem;
     border: none;
    /* muy redondeado, tipo píldora */
     background: var(--verde-principal);
     color: var(--fondo-input);
     font-size: 16px;
     font-weight: bold;
     font-family: "Nunito", sans-serif;
     cursor: pointer;
     transition: background 0.3s ease, transform 0.2s ease;
     box-sizing: border-box;
}

.border{
 box-shadow: 0px 2px 0px var(--texto-secundario);
 border: var(--texto-secundario) solid 2px;
 width: auto;
 height: 100%;
  border-radius: 10rem;
  padding: 0.2rem;
}

.close:hover{
  background-color: white;
  color: var(--texto-secundario);
}

 .border:hover {
  box-shadow: 0px 5px 0px var(--texto-secundario);
     transform: translateY(-2px);
}
.boton-redondeado:hover{
  background: var(--verde-hover);
}

 .border:active {
     transform: translateY(1px);
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
 .task-card {
     background-color: var(--fondo-tarjeta);
     border-radius: 10px;
     border: var(--texto-secundario), solid, 2px;
     padding: 0 0vi 1vi 0vi;
     box-sizing: border-box;
     width: 100%;
     z-index: 10;
     transition: left 0.1s, top 0.1s;
}

.task-card:hover{
 transform: translateY(-2px);
 box-shadow: 0px 2px 0px var(--texto-secundario);

}

 .task-header {
     background-color: var(--verde-hover);
     color: var(--fondo-input);
     padding: 10px;
     border-radius: 8px 8px 0px 0px;
     border-bottom: 2px solid var(--texto-secundario);
     font-weight: bold;
}
 .task-body {
     display: flex;
     gap: 2vw;
     margin-top: 10px;
     padding: 10px;
}
 .task-info {
     display: flex;
     flex-direction: column;
     gap: 10px;
     flex: 1;
}
 .task-info input[type="text"] {
     padding: 8px;
     border: #999999, solid, 2px;
     border-radius: 8px;
     text-align: center;
     background-color: var(--fondo-input);
     color: var(--verde-principal);
     font-weight: 500;
}
 .task-desc {
     flex: 2;
     background-color: var(--fondo-input);
     border-radius: 5px;
     padding: 8px;
     color: var(--verde-principal);
     font-size: 14px;
     border: #999999, solid, 2px;
}
 .task-footer {
     display: flex;
     justify-content: space-between;
     align-items: center;
      padding: 0px 10px 0px 10px;
     box-sizing: border-box;
}
 .task-actions {
     display: flex;
     gap: 8px;
}
 .task-actions button {
     background: none;
     border: none;
     font-size: 18px;
     cursor: pointer;
     border: var(--texto-secundario), solid, 2px;
}
 .task-actions .star {
    color: var(--texto-secundario);
    background-color: var(--verde-principal);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vh;
    border: var(--texto-secundario), solid, 2px;
}
 .task-actions .delete {
    color: var(--texto-secundario);
    background-color: var(--verde-principal);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vh;
    border: var(--texto-secundario), solid, 2px;
}
.delete:hover{
    background-color: var(--verde-hover);
}
.star:hover{
    background-color: var(--verde-hover);
}
 .task-send {
     background-color: var(--verde-principal);
     border: var(--texto-secundario), solid, 2px;
     border-radius: 50%;
     width: 28px;
     height: 28px;
     display: flex;
     align-items: center;
     justify-content: center;
     color: var(--fondo-input);
     font-size: 16px;
     cursor: pointer;
}
.task-send:hover {
  background-color: var(--verde-hover);
}
 .tasks{
     display: flex;
     flex-direction: column;
     gap: 1vh;
     height: 100%;
     width: 100%;
}

 .form-container {
      background-color: var(--fondo-tarjeta);
      border-radius: 10px;
      width: 375px;
      padding: 20px;
      border: var(--texto-secundario), solid, 3px;
    }

 .form-container::backdrop {
    backdrop-filter:blur(5px) brightness(0.5);
    }

dialog {
    border: none;
}

    .form-header {
      background-color: var(--verde-hover);
      color: var(--fondo-input);
      font-size: 24px;
      text-align: center;
      padding: 10px;
      border-radius: 7px 7px 0 0;
      margin: -20px -20px 20px -20px;
      border-bottom: 2px solid var(--texto-verde);
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }

    .form-header h2{
text-shadow: rgb(68, 68, 68) 2px 0px 0px, rgb(68, 68, 68) 1.75517px 0.958851px 0px, rgb(68, 68, 68) 1.0806px 1.68294px 0px, rgb(68, 68, 68) 0.141474px 1.99499px 0px, rgb(68, 68, 68) -0.832294px 1.81859px 0px, rgb(68, 68, 68) -1.60229px 1.19694px 0px, rgb(68, 68, 68) -1.97998px 0.28224px 0px, rgb(68, 68, 68) -1.87291px -0.701566px 0px, rgb(68, 68, 68) -1.30729px -1.5136px 0px, rgb(68, 68, 68) -0.421592px -1.95506px 0px, rgb(68, 68, 68) 0.567324px -1.91785px 0px, rgb(68, 68, 68) 1.41734px -1.41108px 0px, rgb(68, 68, 68) 1.92034px -0.558831px 0px;
 
    }

    .form-group {
      margin-bottom: 15px;
      box-sizing: border-box;
      max-width: 93%; 
    }
    .form-group label{
      font-weight: 700;
    }

    .form-body{
      overflow: hidden;
      width: 100%;
    }

    label {
      display: block;
      margin-bottom: 5px;
      color: var(--verde-principal);
      font-weight: 500;
    }

    input[type="text"],
    input[type="date"],
    textarea {
      width: 100%;
      padding: 8px;
      border: var(--texto-secundario), solid, 3px;
      border-radius: 4px;
      background-color: var(--fondo-input);
      font-size: 14px;
      color: var(--verde-principal);
    }

    .form-group  input[type="text"] {
      box-shadow: 0px 4px 0px var(--texto-secundario);
    }
    .form-group input[type="date"]{
      box-shadow: 0px 4px 0px var(--texto-secundario);
    }
    .form-group textarea{
      box-shadow: 0px 4px 0px var(--texto-secundario);
    }

    input[type="color"]{
      border: var(--texto-secundario), solid, 3px;
      border-radius: 50%;
      height: 3rem;
    }

    input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
  }

    textarea {
      resize: none;
      height: 60px;
    }

    .form-button {
      width: 100i;
      margin: 1rem 0rem 1rem 0rem;
    }
    .form-left{
      display: flex;
      justify-content: flex-end;
    }
    .form-button button:hover {
      background-color: var(--verde-hover);
    }
    /* Scrollbar general */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Fondo del track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Barra que se desplaza */
::-webkit-scrollbar-thumb {
  background-color: var(--verde-principal);
  border-radius: 10px;
}

/* Al hacer hover */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--verde-hover);
}

.row{
  display: flex;
  gap: 1rem;
  padding: 1rem;
  box-sizing: border-box;
  justify-content:start ;
  align-items: center;
  font-size: larger;
}

 .task-actions .priority {
    color: var(--texto-secundario);
    background-color: var(--texto-secundario);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vh;
}

 .task-actions .priority:hover {
    color: var(--texto-secundario);
    background-color: var(--verde-hover);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vh;
}

.task-card.dragging {
  z-index: 9999 !important;
  position: absolute !important;
  pointer-events: none; /* evita interferencias mientras se mueve */
  width: 30%;
}

.nav {
  background-color: var(--verde-hover);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  border-radius: 10rem;
  margin: 1rem;
  box-sizing: border-box;
  border: var(--texto-secundario), solid, 2px;
  box-shadow: 0px 4px 0px var(--texto-secundario);
}

.nav h1{
  margin: 0;
  margin-left: 1rem;
  padding: 0.5rem;
  color: var(--fondo-general);
 text-shadow: rgb(68, 68, 68) 2px 0px 0px, rgb(68, 68, 68) 1.75517px 0.958851px 0px, rgb(68, 68, 68) 1.0806px 1.68294px 0px, rgb(68, 68, 68) 0.141474px 1.99499px 0px, rgb(68, 68, 68) -0.832294px 1.81859px 0px, rgb(68, 68, 68) -1.60229px 1.19694px 0px, rgb(68, 68, 68) -1.97998px 0.28224px 0px, rgb(68, 68, 68) -1.87291px -0.701566px 0px, rgb(68, 68, 68) -1.30729px -1.5136px 0px, rgb(68, 68, 68) -0.421592px -1.95506px 0px, rgb(68, 68, 68) 0.567324px -1.91785px 0px, rgb(68, 68, 68) 1.41734px -1.41108px 0px, rgb(68, 68, 68) 1.92034px -0.558831px 0px;
  font-size:xx-large;
 font-weight: 900;

}

.nav a{
  margin: 0;
  margin-right: 1rem;
  padding: 0.5rem;
  color: var(--fondo-general);
 text-shadow: rgb(68, 68, 68) 2px 0px 0px, rgb(68, 68, 68) 1.75517px 0.958851px 0px, rgb(68, 68, 68) 1.0806px 1.68294px 0px, rgb(68, 68, 68) 0.141474px 1.99499px 0px, rgb(68, 68, 68) -0.832294px 1.81859px 0px, rgb(68, 68, 68) -1.60229px 1.19694px 0px, rgb(68, 68, 68) -1.97998px 0.28224px 0px, rgb(68, 68, 68) -1.87291px -0.701566px 0px, rgb(68, 68, 68) -1.30729px -1.5136px 0px, rgb(68, 68, 68) -0.421592px -1.95506px 0px, rgb(68, 68, 68) 0.567324px -1.91785px 0px, rgb(68, 68, 68) 1.41734px -1.41108px 0px, rgb(68, 68, 68) 1.92034px -0.558831px 0px;
  font-size:xx-large;
 font-weight: 100;

}
